.explore-item {
    /*margin: 1% 3% 0% 3%; !* top right bottom left *!*/
    /*display: inline-block;*/
    /*border: 2px solid black;*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*text-align: center;*/
    /*border-radius: 25px;*/
}

/*.explore-item {*/
/*    font: bold 11px Arial;*/
/*    text-decoration: none;*/
/*    background-color: #EEEEEE;*/
/*    color: #333333;*/
/*    padding: 2px 6px 2px 6px;*/
/*    border-top: 1px solid #CCCCCC;*/
/*    border-right: 1px solid #333333;*/
/*    border-bottom: 1px solid #333333;*/
/*    border-left: 1px solid #CCCCCC;*/

/*    margin: 1% 3% 0% 3%; !* top right bottom left *!*/
/*    display: inline-block;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*    text-align: center;*/
/*    border-radius: 25px;*/
/*}*/

/*button {*/
/*    font: bold 11px Arial;*/
/*    text-decoration: none;*/
/*    background-color: #EEEEEE;*/
/*    color: #333333;*/
/*    padding: 2px 6px 2px 6px;*/
/*    border-top: 1px solid #CCCCCC;*/
/*    border-right: 1px solid #333333;*/
/*    border-bottom: 1px solid #333333;*/
/*    border-left: 1px solid #CCCCCC;*/

/*    margin: 1% 3% 0% 3%; !* top right bottom left *!*/
/*    display: inline-block;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*    text-align: center;*/
/*    border-radius: 25px;*/
/*}*/

button {
    margin: 1% 3% 1% 3%; /* top right bottom left */
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 25px;

    font: bold 18px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}


.explore-link {

}

.explore-video {
    margin: 1% 5% 0% 5%;
    width: 10%;
}