
.explore-link {
    margin: 1% 3% 1% 3%; /* top right bottom left */
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 25px;

    font: bold 18px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 110px 6px 2px 0px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.explore-link:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.explore-video-carousel {
    width: 480px;
    height: 320px;
}



