.home-container {
    display: inline-block;
    margin: 2%;
    width: 45%;
}

.home-video {
    width: 480px;
    height: 320px;
}

.home-paragraph {
    text-align: left;
    width: 480px;
}

.home-description {
    overflow-wrap: break-word;
    display: block;
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;

}