.video-list-container {
    display: inline-block;
    margin: 2%;
    width: 45%;
}

.video-list-video {
    width: 480px;
    height: 320px;
}

.video-list-paragraph {
    text-align: left;
}

.video-list-description {
    overflow-wrap: break-word;
}