.home-container {
    display: inline-block;
    margin: 2%;
    width: 45%;
}

.home-video {
    width: 480px;
    height: 320px;
}

.home-paragraph {
    text-align: left;
}

.home-description {
    overflow-wrap: break-word;
}