.playVideo-container {
    margin-left: 19%;
    margin-bottom: 5%;
    margin-right: 35%;
    margin-top: 2%;
}

#playVideo-title {

}

.playVideo-video {
    width: 720px;
    height: 480px;
}

.playVideo-paragraph {
    font-size: 18px;
}
