.video-list-container {
    display: inline-block;
    margin: 2%;
    width: 45%;
}

.video-list-video {
    width: 480px;
    height: 320px;
    /*pointer-events: none;*/
}

.video-list-paragraph {
    text-align: left;
}

.video-list-description {
    display: block;
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
