
.page-element {
  width: 80%;
  float: right;
}

.side-bar {
  width: 17%;
  margin-right: 3%;
  float: left;
}

#zip-tube-title {
  text-align: center;
  color: black;
}

#zip-tube-banner {
  background-color: lightgray;
}
