
.page-element {
  width: 80%;
  float: right;
}

.side-bar {
  width: 17%;
  margin-right: 3%;
  float: left;
}

#zip-tube-title {
  text-align: center;
  color: white;
}

#zip-tube-title-link{
  text-align: center;
  text-decoration: none;
  color: white;
}


#zip-tube-banner {
  background-color: gray;
}
