.nav-bar-container {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: red;
}

.nav-bar-item {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

/* A color changes when hovered over */
li a:hover {
    background-color: darkred;
}

/* selected link */
a:active {
    color: gray;
}


/* Probably a better way to push to right side rather than super high margin % */
/*!* Causes search bar to drop off page when resizing window *!*/
#search {
    padding: 6px;
    font-size: 17px;
    margin-left: 500%;
}

